
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

nav {
  position: sticky; 
  top: 0;
  z-index: 1000; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  background-color: #333;
  overflow: hidden;
  border-bottom: 3px solid #222;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 14px 18px;
  text-decoration: none;
  color: white;
}

nav a:not(.active):hover {
  background-color: #555;
}

nav a.active {
  background-color: #0a7cff;
  font-weight: bold;
}

main {
  padding: 16px;
}

nav ul::after {
  content: "";
  display: table;
  clear: both;
}

